:root {
    --title-font: 'SONGER Condensed';
    --content-font: 'Manrope';
    --font-family: 'Helvetica Neue';
}
body{
    font: 400 2.3364485981vw/1.33 var(--font-family), sans-serif;
}
.preloader-container {
    /* Робимо його на весь екран */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Додаємо напівпрозорий фон */
    background: linear-gradient(to top, #351414, #000000);
    /* Центруємо спінер */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Гарантуємо, що він буде поверх усіх елементів */
    z-index: 9;
}

/* 2. Стилі для самого спінера (коло) */
.spinner {
    width: 60px;
    height: 60px;
    /* Створюємо коло */
    border-radius: 50%;
    /* Створюємо ефект подвійної рамки */
    border: 6px solid #f3f3f3; /* Легка внутрішня рамка */
    border-top: 6px solid #ff0000; /* Кольорова верхня рамка */
    border-right: 6px solid #ff0000;
    border-left: 6px solid #ff0000;
    /* Плавна анімація обертання */
    animation: spin 1.2s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite; /* Змінив функцію часу для більш унікального ефекту */
}

.box{
    position: relative;
    z-index: 10;
    margin-top: 100px;
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
}
h2{
    text-align: center;
    color: #b7b7b7;
    font-size: 24px;
    font-weight: 500;
}

/* 3. Визначення ключових кадрів для анімації обертання */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        /* Зміна масштабу для ефекту "дихання" */
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}